/*Generic stylings for all pages*/

:root {
    --black-coffee: #2e1f27;
    --alloy-orange: #bc5f04;
    --light-salmon: #f19c79;
    --light-gr-yellow: #f6f4d2;
    --russet: #854d27;
    --ming: #246a73;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--alloy-orange);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2 {
    font-family: 'Tahoma', 'Verdana', 'Geneva', sans-serif;
    color: var(--light-gr-yellow);
    text-align: center;
}

h3,
h4,
h5,
h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    color: var(--alloy-orange);
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: 'Georgia', 'Cambria', 'Times New Roman', serif;
    line-height: 1.5em;
    font-size: 1.6rem;
}

main {
    flex: 1 0 auto
}

/*Header stylings*/

.nv-bar {
    background-color: var(--light-gr-yellow);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 240%;
    margin-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: var(--black-coffee);
    background-color: var(--light-gr-yellow);
}

.navbar-brand:hover {
    color: var(--black-coffee);
}

.navbar .nav-item .nav-link:hover {
    color: var(--ming);
}

.navbar .nav-item .nav-link.active {
    color: var(--alloy-orange);
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--black-coffee);
}

.ftr-cont {
    margin: 0;
    background-color: var(--russet);
    width: 100%;
    position: relative;
}

.ft-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 0;
}

.ft-row ul {
    list-style: none;
    text-align: left;
}

.ftr-col {
    width: 50%;
    padding: 0;
}

.ftr-col h5 {
    font-size: 1.5rem;
    text-align: left;
}

.b-example-divider {
    background-color: var(--alloy-orange);
    border: solid var(--alloy-orange);
    border-width: 1px 0;
    margin-bottom: 2%;
}

#copy-22 {
    text-align: center;
}

.sm-link .ms-3 {
    align-items: center;
}

.sm-link i:hover {
    color: var(--light-salmon);
}

.sm-link i {
    font-size: 120%;
    margin: 1%;
    padding: 1%;
    color: var(--black-coffee);
}

/*HOME STYLINGS*/
.h-img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.home-box-1 {
    margin: 0%;
    text-align: center;
}

#home-tag {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px 0px;
}

#home-intro {
    margin-top: 2%;
    font-size: 1.75rem;
    color: var(--light-salmon);
}

.home-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0%;
    padding: 1% 0;
    background-color: var(--light-gr-yellow);
}

.home-cont .sub-head h3 {
    margin-top: 3%;
}

hr {
    border-top: 2px solid var(--light-salmon);
    width: 90%;
    margin-left: 5%;
}

.home-cont p {
    margin: 5px;
    text-align: center;
    color: var(--russet);
}

.home-cont p a {
    text-decoration: none;
    color: var(--alloy-orange);
}

.home-cont p a:hover {
    color: var(--ming);
}

/*ABOUT*/
.ab-head {
    margin: 2% 0;
    font-style: italic;
    font-weight: bolder;
}

.ab-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
}

.ab-cont .ab-text {
    font-size: 1.5rem;
    text-align: center;
    color: var(--black-coffee);
}

.ab-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#reviews {
    border-top: 5%;
    border: dotted var(--light-salmon);
    font-size: 2rem;
}

.fs-5 {
    border: 2%;
    padding: auto;
    color: var(--light-gr-yellow);
}

.owners-bio {
    margin-top: 2%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--black-coffee);
}

/*MENU*/
#menu {
    border: 1% 0;
    margin: 2% 0;
    font-size: 2.25rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.menu-heads {
    text-transform: uppercase;
    border: double var(--light-salmon);
    padding: 1% 0;
    letter-spacing: 1.5px;
    color: var(--black-coffee);
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*GALLERY*/
#gallery {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0px;
}

#gallery>img {
    width: 100%;
}

/*CONTACT*/
.contact-us h1 {
    border: 1% 0;
    margin: 2% 0;
    font-size: 2.25rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.content-cont {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.content-cont .cont-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont-heads {
    font-weight: bolder;
    color: var(--light-salmon);
    font-size: 2rem;
}

.content-cont .content-info {
    flex-direction: column;
}

.content-cont .content-info .bsc-info {
    padding-top: 10px;
    margin-left: 0;
    font-size: 1.5rem;
}

.content-cont .content-info .contact-form {
    display: flex;

}

#form-text {
    border-top: 2%;
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 18px;
    color: var(--light-gr-yellow);
}

input {
    padding: 1px 3px;
    text-rendering: auto;
}

textarea {
    padding: 1px 3px;
}

.form-labels {
    display: flex;
    flex-direction: row;
}

.form-labels .labels {
    margin: 3%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 100%;
    justify-content: center;
}

#name {
    margin-top: 0;
    border: var(--light-gr-yellow);
    background-color: var(--light-gr-yellow);
    width: 100%;
}

#email {
    margin: 0;
    border: var(--light-gr-yellow);
    background-color: var(--light-gr-yellow);
    width: 100%;
}

#message {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    color: #2e1f27;
    border: var(--light-gr-yellow);
    background-color: var(--light-gr-yellow);
}

.button {
    width: 100%;
    border: 1px solid var(--russet);
    background-color: var(--russet);
    color: var(--light-gr-yellow);
    font-size: 1em;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--ming);
}

iFrame {
    width: 100%;
}

/*404 PAGE*/
.err-img-cont {
    max-width: 500px;
    height: 100%;
    object-fit: cover;
    padding-top: 3%;
}

.btn {
    display: block;
    text-decoration: none;
    background-color: var(--ming);
    border: none;
}

.btn:hover {
    background-color: var(--light-salmon);
}

/* MEDIA QUERIES FOR SMALL TO MEDIUM SCREENS */
@media (min-width: 576px) and (max-width: 1600px) {
    .d-flex {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2%;
    }

    .h-img1 {
        height: 70vh;
    }

    .home-img {
        margin: 0 2%;
        width: 90%;
        height: 40vh;
    }

    .menu-cnt {
        display: flex;
    }

    #gallery {
        column-count: 3;
    }
}

@media (min-width: 900px) {
    .img-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;
    }
}